mutt/certificates
vim/snippets/mail.snippets
.netrwhist
tmux.conf.local
mutt/cache
mutt/mailboxes
mutt/alias
*.pyc
bin/backup/*.log
bin/backup/*.txt
bin/sbt-launch.jar
vimperator/info
pentadactyl/info/default/register-ring
pentadactyl/info/default/command-history
pentadactyl/info/default/local-marks
weechat/*.log
weechat/*.weechatlog
weechat/logs/
