[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/kwbdi"]
	path = vim/bundle/kwbdi
	url = http://github.com/vim-scripts/kwbdi.vim.git
[submodule "vim/bundle/py.test"]
	path = vim/bundle/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
