[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/kwbdi"]
	path = vim/bundle/kwbdi
	url = http://github.com/vim-scripts/kwbdi.vim.git
[submodule "vim/bundle/py.test"]
	path = vim/bundle/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/corntrace/bufexplorer.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/play2"]
	path = vim/bundle/play2
	url = https://github.com/gre/play2vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/less"]
	path = vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/css3"]
	path = vim/bundle/css3
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "mutt/notmuch-py"]
	path = mutt/notmuch-py
	url = https://github.com/honza/mutt-notmuch-py.git
[submodule "vim/bundle/dockerfile"]
	path = vim/bundle/dockerfile
	url = https://github.com/honza/dockerfile.vim.git
[submodule "vim/bundle/delimitmate"]
	path = vim/bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/garbas-snipmate"]
	path = vim/bundle/garbas-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/mw-utils"]
	path = vim/bundle/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "tmuxifier"]
	path = tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
[submodule "funcoo"]
	path = funcoo
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "vim/bundle/funcoo"]
	path = vim/bundle/funcoo
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "vim/bundle/dash"]
	path = vim/bundle/dash
	url = https://github.com/rizzatti/dash.vim.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/indent-guides"]
	path = vim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "autoenv"]
	path = autoenv
	url = https://github.com/kennethreitz/autoenv.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
