snippet l
	l = Logger.new(STDOUT)
	l.debug $1
snippet t
	t('${0}')

snippet 16
	beat = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0].ring
	sample :${0} if beat.tick == 1
	sleep 0.25

snippet ll
	live_loop : do
	  ${0}
	end
